@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  align-items: center;
  background: #21283a;
  overflow-x: hidden;
}
section::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
  height: 500px;
  width: 500px;
  background: #1de5ff;
  border-radius: 50%;
  box-shadow: 0 0 20px #1de5ff, 0 0 50px #1de5ff, 0 0 150px #1de5ff;
  transition: 1s;
}
section.active ::before {
  background: #21283a;
  box-shadow: 0 0 1200px #141821;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
}
header .logo {
  font-size: 1.5em;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  transition: 0.5s;
  transform-origin: left;
}
header .logo span {
  color: #1de5ff;
  border-bottom: 4px solid #1de5ff;
}
header .toggle {
  position: relative;
  width: 30px;
  height: 30px;
  background: url(https://w7.pngwing.com/pngs/419/59/png-transparent-hamburger-button-computer-icons-marmon-keystone-canada-menu-red-sea.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  cursor: pointer;
}
header .toggle.active {
  background: url(https://png.pngtree.com/png-vector/20190505/ourmid/pngtree-vector-cross-icon-png-image_1022800.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 35px;
}
.boy {
  height: 95%;
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 110%;
  transform: translate(30%, 0);
  z-index: 99;
}

.content {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  transform-origin: left;
}
.content .contentBx {
  position: relative;
  max-width: 600px;
  z-index: 100;
}
.content .contentBx h4 {
  font-weight: 400;
  color: #1de5ff;
  font-size: 2em;
  letter-spacing: 2px;
  margin-bottom: 10px;
}
.content .contentBx h2 {
  font-size: 4em;
  line-height: 1em;
  color: #fff;
}
.content .contentBx h3 {
  font-weight: 300;
  color: #fff;
  font-size: 2em;
  line-height: 1.5em;
}
.content .contentBx p {
  font-size: 1.2em;
  color: #fff;
  margin: 20px 20px;
}
.content .contentBx p span {
  color: #1de5ff;
}
.content .contentBx a {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #1de5ff;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 30px;
  margin-right: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  transition: 0.5s;
}
.content .contentBx a:last-child {
  background: #1de5ff;
  color: #111;
}
.content .contentBx a:hover {
  box-shadow: 0 0 15px #1de5ff, 0 0 40px #1de5ff;
}
.sci {
  position: absolute;
  bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 2;
  transform: 0.5s;
  color: #fff;
  left: 1%;
  transform-origin: left;
}
.sci li {
  background-color: #111;
  position: relative;
  list-style: none;
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 50%;
  transform: translate(-20%, 0);
  list-style: none;
  width: 60px;
  height: 50px;
}
.sci li a {
  display: inline-block;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 50%;
}
.sci li:hover a {
  background: #fff;
}
.sci li a img {
  filter: invert(1);
  transform: scale(0.6s);
}
.sci li:hover a img {
  filter: invert(0);
}
section.active .logo,
section.active .content,
section.active .sci {
  transform: scale(0);
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  padding-left: 100px;
  opacity: 0;
  visibility: hidden;
}
section.active .menu {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.5s;
}
.menu li {
  list-style: none;
  margin: 10px 0;
}
.menu li a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5em;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  transition: 0.5s;
}
.menu li a:hover {
  letter-spacing: 6px;
  background-color: #1de5ff;
  color: #161616;
}
/* now make it responsive */
@media (max-width: 991px) {
  section {
    padding: 40px;
  }
  header {
    padding: 20px 40px;
  }
  section ::before {
    opacity: 0;
  }
  .boy {
    right: -100px;
    opacity: 0.3;
  }
  .content .contentBx a {
    margin-bottom: 10px;
  }
  .menu {
    padding-left: 0%;
    align-items: center;
  }
  .content .contentBx h2 {
    font-size: 2.2em;
    line-height: 1em;
    color: #000;
  }
  .content .contentBx h3 {
    font: 1em sans-serif;
  }
  .content .contentBx p {
    font-size: 0.8em;
  }
  .content .contentBx a {
    font-size: 0.8em;
    padding: 5px 10px;
  }
  .sci {
    display: none;
  }

  .sci li {
    width: 40px;
    height: 40px;
  }
  .sci li a img {
    transform: scale(0.5s);
  }
}
